<div class="form-group">
  <div class="col-sm-offset-1 col-sm-12">
    <table ng-if="ctrl.found.length > 0">
      <tr>
        <th>Name</th>
        <th>Short Name</th>
        <th>Description</th>
        <th></th>
      </tr>
      <tr ng-repeat="item in ctrl.found">
        <td>{{ item.name }}</td>
        <td>{{ item.short_name }}</td>
        <td> {{ item.description }}</td>
        <td><button ng-click="ctrl.onRemove({index: $index});">Don't want this one!</button></td>
      </tr>
    </table>
    <div class="error" ng-if="ctrl.isError()">Nothing found.</div>
  </div>

</div>
